{% extends 'base.html' %}
{%block title %} Categories {%endblock title%}
{% load static %}
{%block body%}


    {% comment %} <header>
    <nav id="navbar">
        <a id="logo">Cybertech</a>
        <a id="home" href="miniprojecthome.html">Home</a>
        <a id="home" href="category.html">Learning</a>
        <a id="home">Team</a>
        <a id="home" href="servicepage.html">Services</a>
        <a id="home" href="contactus.html">Contact us</a>
        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input">
            <button class="search-button">Search</button>
          </div>
    </nav></header> {% endcomment %}


    <div class="space">
        <center><p style="font-size: 50px; padding: 70px; padding-bottom: 40px; color: black;">Select Your Path</p></center>
        </div>
    <div id="test">
    <a id="course">    
     <div><img src="{% static 'static/imgs/thms/javascript.png' %}" alt="python"></div>
     <h3  class="course"> Java script</h3></a> 
    <a id="course">
        <div><img src="static/imgs/thms/html.png" alt="python"></div>
        <h3  class="course">HTML</h3></a>
    <a id="course">
     <div><img src="static/imgs/thms/css.png" alt="python"></div>
     <h3  class="course">CSS</h3></a>
    <a id="course">
        <div><img src="static/imgs/thms/java.png" alt="python"></div>
        <h3  class="Java">Java</h3></a>
        <!-- <br> -->
    <a id="course">
        <div><img src="static/imgs/thms/python.png" alt="python"></div>
        <h3  class="course">Python</h3></a>
    <a id="course">
        <div><img src="static/imgs/thms/c.png" alt="python"></div>
        <h3  class="course">C++</h3></a>
    <a id="course">
        <div><img src="static/imgs/thms/c#.png" alt="python"></div>
        <h3  class="course">C</h3></a>
    <a id="course">
           <div><img src="static/imgs/thms/sql/png" alt="python"></div>
           <h3  class="course">SQL</h3></a>
           <!-- <br> -->
    <a id="course">
            <div><img src="static/imgs/thms/hacking.png" alt="python"></div>
            <h3  class="course"> Ethical Hacking</h3></a>
    <a id="course">
               <div><img src="static/imgs/thms/chatgpt.png" alt="python"></div>
               <h3  class="course">Artificial Intelligence</h3></a>
    <a id="course">
            <div><img src="static/imgs/thms/python.png" alt="python"></div>
            <h3  class="course">UI/UX Design</h3></a>
    <a id="course">
               <div><img src="static/imgs/thms/chatgptpng" alt="python"></div>
               <h3  class="course">Artifical Inteligence</h3></a>
    <script src="./category.js"></script>
    </div>

    
{%endblock body%}