<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contactus.css">

    
</head>
<body>
    <header>
        <nav id="navbar">
            <a id="logo">Cybertech</a>
            <a id="home" href="miniprojecthome.html">Home</a>
            <a id="home" href="category.html">Learning</a>
            <a id="home">Team</a>
            <a id="home" href="servicepage.html">Services</a>
            <a id="home" href="contactus.html">Contact us</a>
        </nav></header>
    <div class="form-box"> 
        <input id="follow" type="Submit" value="Follow us on">

        <div class="social-icons">
           <a href="//www.facebook.com"> <img src="contactimg\fb2.png"></a>
           <a href="https://www.instagram.com/i_am__divyasinghal/"> <img src="contactimg\insta2.png"></a>
            <a href="https://twitter.com/Divyasinghal821"><img src="contactimg\tt2.png"></a>
        </div>
    <!-- <center><p style="font-size: 50px; padding: 100px; padding-bottom: 40px; color: #fff;">Fill This Form<br></p></center> -->
    <div class="form">
		<form id="register" class="input-group">
				<input type="text" class="input-field" placeholder="First Name" required="required">
                <input type="text" class="input-field" placeholder="Last Name" required="required">
				<input type="email" class="input-field" placeholder="Email Address" required="required">
				<input type="tel" class="input-field" placeholder="Phone Number" name="psame" required="required">
                <input type="Ainfo" class="input-field" placeholder="Addition Information" name="Ainfo">
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>
    <ul >
        <li>We'll contact you shortly.</li>
        <br>
        <li>Contact us through Email - officialCybertech@gmail.com</li>
      </ul>  
 </div>
</body>
</html>