{% extends 'base.html' %}
{%block title %} Home {%endblock title%}

{%block body%}


{% comment %} <img id="photo" src="{% static 'imgs/png/homepage1.png' %}" alt="homephoto"> {% endcomment %}
<img id="photo" src="static/imgs/png/homepage1.png" alt="homephoto">

<div class="animated-title">
        <div class="text-top">
            <div>
                <span>WELCOME</span>
                <span>TO THE</span>
            </div>
        </div>
        <div class="text-bottom">
            <div>CYBERTECH</div>
        </div>
    </div>

{%endblock body%}