<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profilepage.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <a id="logo"><img src="cybertech-low-resolution-logo-transparent (1).png" alt=""></a>
            <a id="home" href="miniprojecthome.html">Home</a>
            <a id="home" href="category.html">Learning</a>
            <a id="home">Team</a>
            <a id="home" href="servicepage.html">Services</a>
            <a id="home" href="contactus.html">Contact us</a>
            <a class="get-started" href="index.html">Get Started</a>
        </nav></header>
    <div class="work">
    <div id="box">
    <div>
        <img  id="profile" src="profile.png" alt="profileimg">
    </div>
    <div>
        <h2 id="name">DEEKSHANT KUMAR</h2>
    </div>
    <div>
        <h3 id="idd">@deekshantkumar</h3>
    </div>
    <div id="path">
        <img id="logos"  src="coding.png" alt="">
        <h3>Your Path</h3>
        <a id="text">Java</a>
       </div>
       <div id="rank">
        <img id="logos" src="rank.png" alt="">
        <h3>Your Rank</h3>
        <a id="text">75</a>
    </div>
</div>
<div class="detail">
<div class="info">
    <a id="p">PROFILE</a>
    <a class="info-button">Edit info</a>
    <a class="info-button">Save</a>
    <li>Name    -   <a id="info">Deekshant Kumar</a></li>
</div>
<div class="info">
    <li>Gender  -   <a id="info">Male</a></li>
    
</div>
<div class="info">
    <li>E-mail - <a id="info">kumard7017@gmail.com</a></li>
   
</div>  
<div class="info">
    <li>Education   -   <a id="info">Meerut Institute Of Engineering And Technology</a></li>
    
</div>
<div class="info">
    <li>Year of Graduation  -   <a id="info">2026</a></li>
    
</div> 
<div class="info">
    <li>Contact -   <a id="info">XXXXXXX247</a></li>
    
</div> 
<div class="info">
    <li>Birth Date  -   <a id="info">23/03/2004</a></li>
    </div> 
</div>

</body>
</html>